body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*######################################################### FONT ##################################################################*/
/*
@font-face {
  font-family: 'standard';
  src: url(./fonts/Cormorant-VariableFont_wght.ttf) format('ttf');
}

@font-face {
  font-family: 'italics';
  src: url(./fonts/Cormorant-Italic-VariableFont_wght.ttf) format('ttf');
}
*/
/*######################################################### FONT ##################################################################*/


/*######################################################### ELEMENT SELECTORS ##################################################################*/
/*######################################################### ELEMENT SELECTORS ##################################################################*/


/*######################################################### ID SELECTORS ##################################################################*/
/*######################################################### ID SELECTORS ##################################################################*/


/*######################################################### CLASS SELECTORS ##################################################################*/
.header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orangered;
}

.footer {
  color: white;
}

.navbar {
  color: orange;
}
/*######################################################### CLASS SELECTORS ##################################################################*/