/*######################################################### ELEMENT SELECTORS ##################################################################*/
/*######################################################### ELEMENT SELECTORS ##################################################################*/


/*######################################################### ID SELECTORS ##################################################################*/
/*######################################################### ID SELECTORS ##################################################################*/


/*######################################################### CLASS SELECTORS ##################################################################*/
.header {
  background-color: #fe987b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  color: white;
}
/*######################################################### CLASS SELECTORS ##################################################################*/